@import '../wwwroot/css/variables';

.jobform {
    height: 65vh;
    max-height: 630px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 12px;

    &__2col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
    }
}

.datamap-container {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 80px;
}

.mud-simple-table table tbody tr:last-child td {
    border-bottom: 1px solid var(--mud-palette-table-lines);
}

@media (max-width:$breakpoint-sm) {
    .jobform {    
        &__2col {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 6px;
        }
    }
}